.tab-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: #684004;
  }
  
  .Atab {
    flex: 1;
    padding: 15px;
    text-align: center;
    color: wheat;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .Atab:hover {
    background-color: #a77833;
  }

  .Stab {
    flex: 1;
    padding: 15px;
    text-align: center;
    color:#89CFF0;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .Stab:hover {
    background-color: #0d74c9;
  }

  .Ptab {
    flex: 1;
    padding: 15px;
    text-align: center;
    color:#15ff00;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .Ptab:hover {
    background-color: #31be49;
  }

  .Qtab {
    flex: 1;
    padding: 15px;
    text-align: center;
    color:#000000;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .Qtab:hover {
    background-color: #d32626;
  }

  .itab {
    flex: 1;
    padding: 15px;
    text-align: center;
    color:#b7e4f1;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .itab:hover {
    background-color: #506788;
  }

  .aibody {
    margin: 0;
    padding: 0;
    background-image: url('book.jpg'); /* Replace 'path/to/blank-book-image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background image */
    font-family: 'Arial', sans-serif;
    height: 100vh; /* Set body height to full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}   

.servicebody {
    margin: 0;
    padding: 0;
    background-image: url('Sunny.jpg'); /* Replace 'path/to/blank-book-image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background image */
    font-family: 'Arial', sans-serif;
    height: 100vh; /* Set body height to full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
} 
.Pbody {
    margin: 0;
    padding: 0;
    background-image: url('binary.jpg'); /* Replace 'path/to/blank-book-image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background image */
    font-family: 'Arial', sans-serif;
    height: 100vh; /* Set body height to full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
} 

.Qbody {
    margin: 0;
    padding: 0;
    background-image: url('zach.jpg'); /* Replace 'path/to/blank-book-image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background image */
    font-family: 'Arial', sans-serif;
    height: 100vh; /* Set body height to full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
} 

.ibody {
    margin: 0;
    padding: 0;
    background-image: url('rain.jpg'); /* Replace 'path/to/blank-book-image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background image */
    font-family: 'Arial', sans-serif;
    height: 100vh; /* Set body height to full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    /*color: #fff; /* Set text color F5F5DC*/
    /*text-shadow: 0 0 2px #FFFFFF, 0 0 2px #FFFFFF;*/
}

.text-box-brown {
    background-color: rgba(83, 67, 38, 0.9); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px; /* Add rounded corners */
}

.text-box-blue {
    background-color: rgba(173, 227, 248, 0.9); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px; /* Add rounded corners */
}

.text-box-green {
    background-color: rgba(85, 247, 56, 0.9); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px; /* Add rounded corners */
}

.text-box-maroon {
    background-color: rgba(128, 0, 0, 0.9); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px; /* Add rounded corners */
}

.text-box-bluetoo {
    background-color: rgba(129, 177, 233, 0.9); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px; /* Add rounded corners */
}
.centered {
    text-align: center;
}

.aitext {
    font-family: 'Times New Roman', Times, serif;
}


h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
}