.tab-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: #684004;
    z-index: 1000;
  }
  
  button {
    background-color: #5d4ea8;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    }

button:hover {
    background-color: #9247e3; /* Darker green on hover */
}


  .Atab {
    flex: 1;
    padding: 15px;
    text-align: center;
    color: wheat;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .Atab:hover {
    background-color: #a77833;
  }

  .Stab {
    flex: 1;
    padding: 15px;
    text-align: center;
    color:#effcff;
    background-color: #152238;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .Stab:hover {
    background-color: #506788;
  }

  .Ptab {
    flex: 1;
    padding: 15px;
    text-align: center;
    color:#effcff;
    background-color: #152238;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .Ptab:hover {
    background-color: #506788;
  }

  .Qtab {
    flex: 1;
    padding: 15px;
    text-align: center;
    color:#effcff;
    background-color: #152238;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .Qtab:hover {
    background-color: #506788;
  }

  .itab {
    flex: 1;
    padding: 15px;
    text-align: center;
    color:#effcff;
    background-color: #152238;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }
  
  .itab:hover {
    background-color: #506788;
  }

  .aibody {
    margin: 0;
    padding: 0;
    background-image: url('book.jpg'); /* Replace 'path/to/blank-book-image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background image */
    font-family: 'Arial', sans-serif;
    height: 100vh; /* Set body height to full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}   

.servicebody {
    background-color:rgba(63, 211, 252, 0.7);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background image */
    font-family: 'Arial', sans-serif;
    height: 100vh; /* Set body height to full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
} 
.Pbody {
    background-color:rgba(38, 192, 235, 0.7);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background image */
    font-family: 'Arial', sans-serif;
    height: 100vh; /* Set body height to full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
} 

.Qbody {
    background-color:rgba(21, 172, 214, 0.7);
    border-left: 10px solid #152238;
    border-right: 10px solid #152238;
    border-bottom: none;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background image */
    font-family: 'Arial', sans-serif;
    height: 100vh; /* Set body height to full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
} 

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 15px; /* Adjust the width of the border */
    height: 100%;
    background-color: #152238; /* Adjust the color of the border */
    z-index: 9999; /* Ensure the border is above other elements */
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 15px; /* Adjust the width of the border */
    height: 100%;
    background-color: #152238; /* Adjust the color of the border */
    z-index: 9999; /* Ensure the border is above other elements */
}


.ibody {
    background-color:rgba(7, 156, 197, 0.7);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background image */
    font-family: 'Arial', sans-serif;
    height: 100vh; /* Set body height to full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    /*color: #fff; /* Set text color F5F5DC*/
    /*text-shadow: 0 0 2px #FFFFFF, 0 0 2px #FFFFFF;*/
}
.content2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.left-box{
    flex: 1;
      padding: 30px;
      box-sizing: border-box;
}
.right-box{
    flex: 1;
      box-sizing: border-box;
}

.text-box-brown {
    background-color: rgba(83, 67, 38, 0.9); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px; /* Add rounded corners */
    margin-top: 85%;
    color: wheat;
}

.text-box-blue {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
    gap: 20%; /* Adjust the gap between columns */
    text-align: left; /* Center text within the grid */
}

.text-box-blue div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items vertically within each column */
}

.text-box-blue h1,
.text-box-blue p {
    margin: 0; /* Remove default margin for better alignment */
}

.text-box-green {
    margin-top: 25%;
    padding: 20px;
    border-radius: 10px;
}

.text-box-green ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
    gap: 20px; /* Adjust the gap between items */
    margin-bottom: 20px; /* Adjust the bottom margin between projects */
}

.text-box-green li {
    position: relative;
    list-style: none; /* Remove default list-style */
    margin-bottom: 10px; /* Adjust the bottom margin between project details */
}

.text-box-green ul ul {
    display: block;
    margin-left: 20px;
}

.text-box-maroon {
    margin-top: 100%;
    padding: 20px;
    border-radius: 10px;
}

.text-box-bluetoo {
    display: flex;
        align-items: flex-start; /* Align text to the top */
        width: 50%;
        padding: 20px;
        flex: 1;
}

.column{
    flex-direction: column;
    max-width: 60%;
}
.centered {
    text-align: center;
}
.lefty{
    text-align: left;
}

.aitext {
    font-family: 'Times New Roman', Times, serif;
}


#profpic{
    max-width: 60%; /* Make sure the image doesn't exceed its container */
    height: auto;
    margin-top: 20%;
    margin-left: 25%;
}


#resume{
    max-width: 85%; 
  max-height: 80%; 
  position: static; 
  top:50%; 
  right: 50%; 
  display: block; 
  margin-left: auto;
  margin-right: auto;
}


#ptitle{
    text-align: center; 
}

#construction{
    max-width: 80%; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

#stitle{
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
}